
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  overflow-x: hidden;
}

.btn-cut {
  position: relative;
  padding: 6px 22px;
  font-size: 14px;
  color: white;
  background: black;
  cursor: pointer;

  clip-path: polygon(12% 0%, 100% 0%, 88% 100%, 0% 100%);
}

/* GRADIENT BORDER */
.btn-cut::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 4px;
  background: linear-gradient(90deg, #ff1a1a, #ff4d4d);
  -webkit-mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.btn-cut:hover {
  background: linear-gradient(90deg, #ff1a1a, #ff4d4d);
}

@font-face {
  font-family: "Mokoto";
  src: url("./src/assets/font/Mokoto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .text-gradient-red {
    @apply bg-gradient-to-r from-[#FF0404] via-[#FF7878] to-[#CF0000] bg-clip-text text-transparent;
  }
}



@keyframes smoothOrbit {
  0% {
    transform: rotate(0deg) translateX(25px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateX(25px) rotate(-360deg);
  }
}

.animate-smoothOrbit {
 animation: smoothOrbit 2s linear infinite;
  transform-origin: center;
}


.perspective-\[2000px\] {
  perspective: 2000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

/* footer */

.premium-heading {
  @apply relative inline-block
  text-[15px] font-montserrat hover:cursor-pointer
  transition-all duration-500 ease-out;
}

.premium-heading:hover {
  @apply scale-[1.02]
  text-transparent
  bg-clip-text
  bg-gradient-to-r
  from-[#FF0404]
  via-[#FF7878]
  to-[#CF0000];
}

/* LONG LINE */
.premium-heading::before {
  content: "";
  @apply absolute left-0 -bottom-1 h-[2px]
  w-0
  bg-gradient-to-r
  from-[#FF0404]
  via-[#FF7878]
  to-[#CF0000]
  transition-all duration-500 ease-out;
}

/* SMALL LINE */
.premium-heading::after {
  content: "";
  @apply absolute -bottom-1 h-[2px]
  w-0
  bg-gradient-to-r
  from-[#FF0404]
  via-[#FF7878]
  to-[#CF0000]
  transition-all duration-500 ease-out delay-75;
  
  left: 78%;
}

/* HOVER EFFECT */
.premium-heading:hover::before {
  width: 70%;
}

.premium-heading:hover::after {
  width: 12%;
}



/* hero section */

@layer components {

  /* COMMON CONTENT */
  .hero-content {
    @apply relative z-20 w-full text-center lg:text-left;
  }

  /* COMMON HEADING */
  .hero-heading {
    @apply font-montserrat font-semibold;
  }

  /* COMMON PARAGRAPH */
  .hero-paragraph {
    @apply mt-5 text-gray-400 leading-relaxed;
  }

  /* FLOATING TAG */
  .floating-tag {
    @apply hidden md:flex absolute z-30
    rounded-full border border-[#FFFFFF26]
    bg-[#2E2E2E1A]
    px-5 py-3 text-sm whitespace-nowrap text-white
    backdrop-blur-[20px]
    shadow-[0_0_25px_rgba(255,0,0,0.08)];
  }

  /* FEATURE ITEM */
  .feature-item {
    @apply flex w-fit items-center gap-2 rounded-full
    border border-[#341111]
    bg-[#120303]
    px-4 py-2 transition hover:border-red-600;
  }

  /* FEATURE DOT */
  .feature-dot {
    @apply h-2 w-2 rounded-full
    bg-gradient-to-r from-white via-red-500 to-red-700
    shadow-[0_0_8px_rgba(255,0,0,0.6)];
  }
  /* FEATURE TEXT */
  .feature-text {
    @apply text-[16px] text-gray-200 sm:text-sm;
  }
}

@keyframes scanner {
  0% {
    transform: translateY(-220px);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(220px);
    opacity: 0;
  }
}

.animate-scanner {
  animation: scanner 3s ease-in-out infinite alternate;
}


@keyframes textSweep {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.animate-textSweep {
  animation: textSweep 2s ease-in-out infinite alternate;
}

